# project files
*.class
**/target/*

# custom project files
backups/**

# intellij idea specific
*.iml
*.ipr
*.iws
.idea

# eclipse specific
**/.classpath
**/.jupiter
**/.project
**/.settings/**

# CVS
**/.cvsignore
